
 @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Distressed&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 228, 196, 0.199) !important;
}
img{
    max-width: 10rem !important;
    margin: auto;
}
#card {
  max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(to bottom, #fbff00ad, #d31f1fc7);
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.288) ;
    border: none;
  
  }
  
  .card-img-top {
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
  }
  
  .card-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .card-text {
    text-align: center;
    color: #fff;
  }
  
  .btn {
    margin-top: 10px !important;
    background-color: #2b2ed4 !important;
    border: none !important;
    border-radius: 5px;
    padding: 10px 20px !important;
    cursor: pointer;
    transition: background-color 0.3s ease !important; 
  }
  
  h1{
    font-family: 'Bungee Spice', cursive;
  }
  h2{
    color: rgb(27, 4, 238) !important;
    text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.555);
  }
  .btn:hover {
    background-color: #3a37d3e3 !important;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  #icons{
    cursor: pointer;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
   
  }
 
  .icon:hover{
    opacity: 0.8;
    transform: scale(1.05);
  }
  .icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-top: 1rem;
    margin: 1rem;

    /* text-align: center; */
   ;
    background-color: rgba(255, 228, 196, 0.589);
    

  }


.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
 background-color:#e0271d;

 color: white;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color:yellow;

}
.table-striped>thead>tr>td,
.table-striped>thead>tr>th {
 background-color: rgba(129, 2, 2, 0.911);
 color: white;
}



/* #tableID tr:nth-child(odd) {
  background-color: yellow ; }

#tableID tr:nth-child(even) {
  background-color: red ; } */